<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<title>Login</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
	<div ng-app="loginApp" ng-controller="ctrlLogin as ctrl">
		<md-content>
		<div class="container">

		<div class="col-sm-6 col-sm-offset-3">

			<h1><span class="fa fa-sign-in"></span> Login</h1>

			<!-- show any messages that come back with authentication -->
			<div class="alert alert-danger" ng-show="message !== undefined">{{ message }}</div>

			<!-- LOGIN FORM -->
			<form>
				<div class="form-group">
					<label>Email</label>
					<input type="text" class="form-control" name="email" ng-model="email">
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" class="form-control" name="password" ng-model="password">
				</div>

        <md-button ng-click="loginBtn()" class="btn btn-warning btn-lg">
          Login
        </md-button>
			</form>

			<hr>

			<p>Need an account? <a href="/signup">Signup</a></p>
			<p>Or go <a href="/">home</a>.</p>

		</div>

	</div>
	</md-content>
</div>
<script>
var app = angular.module('loginApp', []);


app.controller('ctrlLogin', function($scope, $http, $window) {
		$scope.message = undefined;
		url = "http://localhost:8080/";
    $scope.loginBtn = function () {
    	console.log('login. email:' + $scope.email + ". pwd: " + $scope.password );
    	if (($scope.email !== undefined)&& ($scope.password!== undefined)){
    		$scope.message = undefined;
        var sQueryLogin = url+"api/login";
        $http.post(sQueryLogin, {email:$scope.email, password:$scope.password}).
					then(response => {
						// this callback will be called asynchronously
						// when the response is available
						console.log("Login SUCCESS!!! ");
						$window.location.href=url+'profile';
					}, responseError =>{
						// called asynchronously if an error occurs
						// or server returns response with an error status.
						$scope.message = `Login error. ${JSON.stringify(responseError.data.msg)}`;
					});
    	} else {
    		$scope.message = 'Write email and password in order to login in.';
    	}
    }
});
</script>
</body>
</html>
